name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push backend Docker image
      run: |
        docker build -t pavanikoduru22/discoverdollar-backend:latest ./backend
        docker push pavanikoduru22/discoverdollar-backend:latest

    - name: Build and push frontend Docker image
      run: |
        docker build -t pavanikoduru22/discoverdollar-frontend:latest ./frontend
        docker push pavanikoduru22/discoverdollar-frontend:latest

    - name: Deploy to VM
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          cd ~/discoverdollar-devops-assignment
          docker compose pull
          docker compose up -d

